/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


//搜索功能相关的CSS
.search-info{            /*搜索返回的说明文字，比如未搜索到相关商品 */
  font-size: 30px;
  text-align: center;
}
.search {
    width: 300px;
}

.search-input {
    height: 32px;
    line-height: 32;
    color: #666;
    padding: 2px 20px;
    margin-bottom: 4px;
    margin-left: -20px;
    border-width: 2px;
    border-color: #FF6600;
    border-style: solid;
    outline: 0;
    font-size: 14px;
    font-family: "microsoft yahei";
    border-radius: 20px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.search-button {
    width: 50px;
    height: 32px;
    border: none;
    line-height: 1;
    color: #FF6600;
    background: none;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    cursor: pointer;
    top: 0;
    right: 0;
}
