<footer class="container-fluid" style="margin-top:100px">
  <p class="text-center">Desgin by <a href="http://hukui-blog.logdown.com">hukui</a>|<a href="http://xyy601-blog.logdown.com/">邢杨扬</a></p>
</footer>
